<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>returntosite</name>
	<displayName><![CDATA[returntosite]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Wyświetla popup gdy user chce opuścić stronę ]]></description>
	<author><![CDATA[MarcinL]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
